<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2023 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	carma_src.launch

  The ros launch file for the CARMA 3 Platform ROS Network.
  Launches all the needed ros nodes and sets up the parameter server.
  Also sets up all static transforms used by tf2 within the system.

  Use:
  roslaunch carma carma.launch
  After using source devel/setup.bash from workspace root.

  If not using simulated drivers they are activated using ros arguments as shown below.
  roslaunch carma carma.launch mock_drivers="can"
-->
<launch>

  <!-- Directory of vehicle config parameters -->
  <arg name="vehicle_config_dir" default="/opt/carma/vehicle/config" doc="The directory continaing vehicle config type parameters"/>
  <arg name="vehicle_calibration_dir" default="/opt/carma/vehicle/calibration" doc="The directory continaing vehicle calibration type parameters"/>

	<!-- Startup Drivers With Main CARMA System -->
  <arg name="launch_drivers" default="true" doc="True if drivers are to be launched with the CARMA Platform, overrides mock_drivers arg if false"/>

  <!-- Simulation Usage -->
  <arg name="mock_drivers"
    default="controller can comms gnss radar lidar camera roadway_sensor imu"
    doc="List of driver node base names which will be launched as mock drivers"
  />
  <arg name="simulation_mode" default="false" doc="True if CARMA Platform is launched with CARLA Simulator"/>

  <!-- Logging -->
  <!-- ROS Bag -->
  <arg name="rosbag_exclusions" default="/fake_exclusion" doc="Additonal regex pattern to match for identifying what topics to exclude from rosbag recordings"/>

  <!-- Route File Locations -->
  <arg name="route_file_folder" default="/opt/carma/routes/" doc="Path of folder containing routes to load"/>

  <!-- Load Vehicle Characteristics -->
  <rosparam command="load" file="$(arg vehicle_calibration_dir)/identifiers/UniqueVehicleParams.yaml"/>
  <rosparam command="load" file="$(arg vehicle_config_dir)/VehicleConfigParams.yaml"/>

  <!-- Transforms Stack -->
  <group ns="$(env CARMA_TF_NS)">
    <include file="$(find carma)/launch/transforms.launch">
      <arg name="URDF_FILE" value="$(arg vehicle_calibration_dir)/urdf/carma.urdf"/>
    </include>
  </group>

  <!-- Hardware Interface Stack -->
  <group ns="$(env CARMA_INTR_NS)">
    <include file="$(find carma)/launch/hardware_interface.launch">
      <arg name="mock_drivers" value="$(arg mock_drivers)"/>
      <arg name="launch_drivers" value="$(arg launch_drivers)"/>
      <arg name="vehicle_calibration_dir" value="$(arg vehicle_calibration_dir)"/>
    </include>
  </group>

  <!-- Set up the rosbag record node that will exclude sensitive topics -->
  <group ns="carma_record">
    <include file="$(find carma_record)/launch/carma_record.launch" />
  </group>

  <!-- Dump all ros parameters to a file -->
  <node name="param_dump" pkg="carma_record" type="param_dump.sh"/>

</launch>
