<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2022 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	Launch file for launching the nodes in the CARMA environmental perception stack
-->
<launch>
  <arg name="vehicle_calibration_dir" default="/opt/carma/vehicle/calibration" doc="The directory continaing vehicle calibration type parameters"/>	

  <arg name="vector_map_file" default="vector_map.osm" doc="Path to the map osm file if using the noupdate load type"/>
  <arg name="yolo_dir" default="/opt/carma/yolo" doc="The directory continaing yolo weights files for the perception stack"/>

  <arg name="simulation_mode" default="true" doc="True if CARMA Platform is launched with CARLA Simulator"/>

  <arg name="cuda" default="true" doc="cuda flag for vision_darknet_detect (true if cuda is available)"/>
  <arg name="combined_lidar_frame" default="velodyne" doc="Frame of the lidar(s)"/>

  <remap from="route" to="$(optenv CARMA_GUIDE_NS)/route"/>
  
  <remap from="incoming_spat" to="$(optenv CARMA_MSG_NS)/incoming_spat"/>

	<!-- vector map loader -->
  <node pkg="map_file" type="lanelet2_map_loader" name="lanelet2_map_loader"  args="$(arg vector_map_file)">
    <remap from="/lanelet_map_bin" to="base_map"/>
  </node>  

  <!-- vector map visualization -->
  <node pkg="map_file" type="lanelet2_map_visualization" name="lanelet2_map_visualization">
    <remap from="/lanelet_map_bin" to="semantic_map"/>
  </node>

  <!-- World Model Updater -->
  <group>
    <remap from="outgoing_geofence_request" to="$(optenv CARMA_MSG_NS)/outgoing_geofence_request"/>
    <include file="$(find carma_wm_ctrl)/launch/carma_wm_broadcaster.launch"/>
  </group>

  <!-- Traffic Incident Parser -->
  <group>
    <remap from="georeference" to="$(optenv CARMA_LOCZ_NS)/map_param_loader/georeference"/>
    <remap from="geofence" to="$(optenv CARMA_MSG_NS)/incoming_geofence_control"/>
    <remap from="incoming_mobility_operation" to="$(optenv CARMA_MSG_NS)/incoming_mobility_operation"/>
    <include file="$(find traffic_incident_parser)/launch/traffic_incident_parser.launch"/>
  </group>

</launch>
