<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2021 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	Launch file for launching the nodes in the CARMA localization stack minus drivers
-->
<launch>

  <arg name="vehicle_calibration_dir" default="$(find carma)../../CARMAVehicleCalibration/development/vehicle" doc="The directory continaing vehicle calibration type parameters"/>
  <arg name="area" default="5x5" doc="Dimensions of the square of cells loaded at runtime using the download and arealist load types"/>
  <arg name="arealist_path" default="arealist.txt" doc="Path to the arealist.txt file which contains the paths and dimensions of each map cell to load"/>
  <arg name="load_type" default="noupdate" doc="Enum of the map loading approach to use. Can be 'download', 'noupdate', or 'arealist'"/> 
  <arg name="single_pcd_path" default="pcd_map.pcd" doc="Path to the map pcd file if using the noupdate load type"/>
  <arg name="vector_map_file" default="vector_map.osm" doc="Path to the map osm file if using the noupdate load type"/>
  <arg name="simulation_mode" default="true" doc="True if CARMA Platform is launched with CARLA Simulator"/>
  
  
  <!-- Remap any absolute topics to be relative -->
  <remap from="/vehicle/odom" to="vehicle/odom"/>
  <remap from="/estimate_twist" to="estimate_twist"/>
  <remap from="/estimated_vel" to="estimated_vel"/>
  <remap from="/estimated_vel_kmph" to="estimated_vel_kmph"/>
  <remap from="/estimated_vel_mps" to="estimated_vel_mps"/>
  <remap from="/filtered_points" to="filtered_points"/>
  <remap from="/imu_raw" to="imu_raw"/>
  <remap from="/localizer_pose" to="localizer_pose"/>
  <remap from="/ndt_pose" to="ndt_pose"/>
  <remap from="/ndt_reliability" to="ndt_reliability"/>
  <remap from="/ndt_stat" to="ndt_stat"/>
  <remap from="/pmap_stat" to="pmap_stat"/>
  <remap from="/points_downsampler_info" to="points_downsampler_info"/>
  <remap from="/points_map" to="points_map"/>
  <remap from="/predict_pose" to="predict_pose"/>
  <remap from="/predict_pose_imu" to="predict_pose_imu"/>
  <remap from="/predict_pose_imu_odom" to="predict_pose_imu_odom"/>
  <remap from="/predict_pose_odom" to="predict_pose_odom"/>
  <remap from="/time_ndt_matching" to="time_ndt_matching"/>

  <!-- Remap topics from external packages -->
  <remap from="imu_raw" to="$(optenv CARMA_INTR_NS)/imu_raw"/>

  <remap from="system_alert" to="/system_alert"/>

  <remap from="gnss_fix_fused" to="$(optenv CARMA_INTR_NS)/gnss_fix_fused"/>
  
  <!-- <arg name="current_twist" default="current_twist" doc="Remapping of the twist topic used by the deadreckoner node"/>
  <arg name="current_odom" default="current_odom" doc="Remapping of the twist topic used by the deadreckoner node"/> -->
  <!-- Localization Package -->
  
</launch>
