<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2021 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	Launch file for launching the nodes in the CARMA communications stack
-->
<launch>

   
  <!-- Remap topics from external packages -->
  <remap from="inbound_binary_msg" to="$(optenv CARMA_INTR_NS)/comms/inbound_binary_msg"/>
  <remap from="outbound_binary_msg" to="$(optenv CARMA_INTR_NS)/comms/outbound_binary_msg"/>
  <remap from="outgoing_mobility_path" to="mobility_path_msg"/>  
 

  <remap from="system_alert" to="/system_alert"/>

    <remap from="velocity_accel" to="$(optenv CARMA_INTR_NS)/velocity_accel"/>
    <remap from="yaw_rate_rpt" to="$(optenv CARMA_INTR_NS)/pacmod/parsed_tx/yaw_rate_rpt"/>
    <remap from="pose" to="$(optenv CARMA_LOCZ_NS)/current_pose"/>
    <remap from="transmission_state" to="$(optenv CARMA_INTR_NS)/can/transmission_state"/>
    <remap from="vehicle_speed" to="$(optenv CARMA_INTR_NS)/pacmod/as_tx/vehicle_speed"/>
    <remap from="dual_antenna_heading" to="$(optenv CARMA_INTR_NS)/gnss/dual_antenna_heading"/>
    <remap from="steering_wheel_angle" to="$(optenv CARMA_INTR_NS)/can/steering_wheel_angle"/>

  <!-- j2735 Convertor Node -->
  <node pkg="j2735_convertor" type="j2735_convertor_node" name="j2735_convertor">
    <remap from="outgoing_bsm" to="bsm_outbound"/>
  </node>

  <group>
    <remap from="georeference" to="$(optenv CARMA_LOCZ_NS)/map_param_loader/georeference"/>
    <include file="$(find bsm_generator)/launch/bsm_generator.launch"/>
  </group>

  <!-- Message Encoder/Decoder Node -->
  <include file="$(find cpp_message)/launch/cpp_message.launch"/>
  

</launch>
