<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2021 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	This file launches the desired mock drivers for CARMA
-->

<launch>



  <!-- Simulated Driver Arguments -->
  <!-- Directory of Simulation Files -->
  <arg name="DATA_DIR" default="/opt/carma/data" doc="Directory of driver simulation data files"/>

  <arg name="mock_driver_launch_file" default="$(find rosbag_mock_drivers)/launch/mock_drivers.launch" doc="mock_driver.launch file location"/>

  <!-- Simulation Usage -->
  <arg name="mock_drivers" default="controller can comms gnss radar lidar camera roadway_sensor imu lightbar" doc="List of driver node base names which will be launched as mock drivers"/>

  <arg name="mock_can"            value="$(eval 'can' in arg('mock_drivers').split())"/>
  <arg name="mock_comms"          value="$(eval 'comms' in arg('mock_drivers').split())"/>
  <arg name="mock_controller"     value="$(eval 'controller' in arg('mock_drivers').split())"/>
  <arg name="mock_gnss"           value="$(eval 'gnss' in arg('mock_drivers').split())"/>
  <arg name="mock_radar"          value="$(eval 'radar' in arg('mock_drivers').split())"/>
  <arg name="mock_imu"            value="$(eval 'imu' in arg('mock_drivers').split())"/>
  <arg name="mock_lidar"          value="$(eval 'lidar' in arg('mock_drivers').split())"/>
  <arg name="mock_camera"         value="$(eval 'camera' in arg('mock_drivers').split())"/>
  <arg name="mock_roadway_sensor" value="$(eval 'roadway_sensor' in arg('mock_drivers').split())"/>
  <arg name="mock_lightbar" 	    value="$(eval 'lightbar' in arg('mock_drivers').split())"/>
  <arg name="bag_parser" 	        value="$(eval 'bag_parser' in arg('mock_drivers').split())"/> <!-- Launch the bag parser if any mock drivers are running -->
	
  <!-- Remappings for external packages -->
  <remap from="system_alert" to="/system_alert"/>
  <remap from="driver_discovery" to="$(optenv CARMA_INTR_NS)/driver_discovery"/>
  <remap from="bag_data" to="$(optenv CARMA_INTR_NS)/bag_data"/>

  <!-- Shutdown node for Drivers -->
  <node pkg="driver_shutdown" type="driver_shutdown" name="$(anon driver_shutdown)" required="true"/>

  <!-- Launch Bag Parser -->
  <include if="$(arg bag_parser)" file="$(find rosbag_mock_drivers)/launch/bag_parser.launch">
      <arg name="file_path" value="$(arg DATA_DIR)/mock_drivers/drivers.bag"/>
  </include>

  <!-- Simulated Comms Driver Node -->
  <include if="$(arg mock_comms)" file="$(arg mock_driver_launch_file)">
    <arg name="driver" value="comms"/>
  </include>

  <!-- Simulated GNSS Driver Node -->
  <include if="$(arg mock_gnss)" file="$(arg mock_driver_launch_file)">
    <arg name="driver" value="gnss"/>
  </include>

  <!-- Simulated CAN Driver Node -->
  <include if="$(arg mock_can)" file="$(arg mock_driver_launch_file)">
    <arg name="driver" value="can"/>
  </include>

  <!-- Simulated Controller Driver Node -->
  <include if="$(arg mock_controller)" file="$(arg mock_driver_launch_file)">
    <arg name="driver" value="controller"/>
  </include>

  <!-- Simulated Radar Driver Node -->
  <include if="$(arg mock_radar)" file="$(arg mock_driver_launch_file)">
    <arg name="driver" value="radar"/>
  </include>

  <!-- Simulated IMU Driver Node -->
  <include if="$(arg mock_imu)" file="$(arg mock_driver_launch_file)">
    <arg name="driver" value="imu"/>
  </include>

  <!-- Simulated Lidar Driver Node -->
  <include if="$(arg mock_lidar)" file="$(arg mock_driver_launch_file)">
    <arg name="driver" value="lidar"/>
  </include>

  <!-- Simulated Camera Driver Node -->
  <include if="$(arg mock_camera)" file="$(arg mock_driver_launch_file)">
    <arg name="driver" value="camera"/>
  </include>

  <!-- Simulated Roadway Sensor Driver Node -->
  <include if="$(arg mock_roadway_sensor)" file="$(arg mock_driver_launch_file)">
    <arg name="driver" value="roadway_sensor"/>
  </include>

  <!-- Simulated Lightbar Driver Node -->
  <include if="$(arg mock_lightbar)" file="$(find mock_lightbar_driver)/launch/mock_lightbar_driver_testing.launch"/>
</launch>
