<?xml version="1.0"?>
<launch>
    <remap from="final_waypoints" to="carma_final_waypoints"/>
    <!-- MPC Follower Node -->
    <group>
        <remap from="vehicle_model_steer_tau" to="/vehicle_steer_tau"/>
        <remap from="vehicle_model_wheelbase" to="/vehicle_wheel_base"/>
        <remap from="steer_lim_deg" to="/vehicle_steer_lim_deg"/>
        <remap from="steering_gear_ratio" to="/vehicle_steering_gear_ratio"/>

        <include file="$(find mpc_follower)/launch/mpc_follower.launch">
                <arg name="qp_solver_type" value="unconstraint_fast"/>
                <arg name="mpc_prediction_horizon" value="70.0"/>
                <arg name="mpc_prediction_sampling_time" value="0.1"/>
                <arg name="mpc_weight_lat_error" value="0.1"/>
                <arg name="mpc_weight_terminal_lat_error" value="0.15"/>
                <arg name="mpc_weight_terminal_heading_error" value="0.03"/>
                <arg name="mpc_weight_heading_error" value="0.01"/>
                <arg name="mpc_weight_heading_error_squared_vel_coeff" value="0.1"/>
        </include>
    </group>
    <!-- MPC Follower Wrapper Node -->
    <node pkg="mpc_follower_wrapper" type="mpc_follower_wrapper_node" name="mpc_follower_wrapper_node" output="screen">
        <rosparam command="load" file="$(find mpc_follower_wrapper)/config/default.yaml" />
    </node>
</launch>
