<?xml version="1.0"?>
<launch>
    <remap from="final_waypoints" to="/guidance/carma_final_waypoints"/>
    <!-- Pure Pursuit Node -->
    <group>
        <!--<remap from="vehicle_info/wheel_base" to="/vehicle_wheel_base"/>-->
        <include file="$(find mpc_follower)/launch/mpc_follower.launch">
                <arg name="qp_solver_type" value="qpoases_hotstart"/>
                <arg name="mpc_prediction_sampling_time" value="0.05"/>
                <arg name="mpc_weight_lat_error" value="0.2"/>
                <arg name="mpc_weight_terminal_lat_error" value="1.0"/>
        </include>
    </group>
    <!-- Pure Pursuit Wrapper Node -->
    <node pkg="mpc_follower_wrapper" type="mpc_follower_wrapper_node" name="mpc_follower_wrapper_node" output="screen">
        <rosparam command="load" file="$(find mpc_follower_wrapper)/config/default.yaml" />
    </node>
</launch>
