<?xml version="1.0"?>
<launch>
    <remap from="final_waypoints" to="/guidance/carma_final_waypoints"/>
    <!-- Pure Pursuit Node -->
    <group>
        <!--<remap from="vehicle_info/wheel_base" to="/vehicle_wheel_base"/>-->
        <include file="$(find mpc_follower)/launch/mpc_follower.launch">
                <arg name="qp_solver_type" default="unconstraint_fast" doc="optimization solver type. option is unconstraint_fast, unconstraint, and qpoases_hotstart"/>
		<arg name="vehicle_model_type" default="kinematics" doc="vehicle model type for mpc prediction. option is kinematics, kinematics_no_delay, and dynamics"/>
        </include>
    </group>
    <!-- Pure Pursuit Wrapper Node -->
    <node pkg="mpc_follower_wrapper" type="mpc_follower_wrapper_node" name="mpc_follower_wrapper_node" output="screen">
        <rosparam command="load" file="$(find mpc_follower_wrapper)/config/default.yaml" />
    </node>
</launch>
