<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2019 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	carma.launch

  A the ros launch file for the CARMA3 ROS Network.
  Launches all the needed ros nodes and sets up the parameter server.
  Also sets up all static transforms used by tf2 within the system.

  File is meant to be run on a configured for execution environment.
-->
<launch>
  <!-- Override Required Paths -->
  <arg name="vehicle_config_dir" default="$(find carma)../../CARMAConfig/development"/>
  <arg name="vehicle_calibration_dir" default="$(find carma)../../CARMAVehicleCalibration/development/vehicle"/>
  <arg name="load_type" value="noupdate"/>
  <arg name="single_pcd_path" value="$(find carma)/map/base_map.pcd"/>

  <!-- Startup with mock drivers -->
  <arg name="launch_drivers" default="true" doc="True if drivers are to be launched with the CARMA Platform, overrides mock_drivers arg if false"/>
  <arg name="mock_drivers" default="can comms controller gnss radar imu lidar camera roadway_sensor"/>

  <!-- Rosbag Flag -->
  <arg name="use_rosbag" default="true" doc="Record a rosbag for the to 26 demo"/>

  <!-- Include the detailed launch file and pass in new arguments -->
  <include file="$(find carma)/launch/carma_src.launch" pass_all_args="true"/>
</launch>
