<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2020 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	Launch file for launching the nodes in the CARMA environmental perception stack
-->
<launch>
 
  <!-- vector map loader -->
  <group>
  <arg name="vector_map_file" default="vector_map.osm" doc="Path to the map osm file if using the noupdate load type"/>

  <include file="$(find map_file)/launch/lanelet2_map_loader.launch">
   <arg name="file_name" value="$(arg vector_map_file)"/>
  </include>
  </group>

<!-- vision_darknet_detect -->
  <group>
  <include file="$(find vision_darknet_detect)/launch/vision_yolo3_detect.launch">
  <arg name="gpu_device_id" default="0"/>
  <arg name="score_threshold" default="0.30"/>
  <arg name="nms_threshold" default="0.30"/>

  <arg name="network_definition_file" default="$(find vision_darknet_detect)/darknet/cfg/yolov3.cfg"/>
  <arg name="pretrained_model_file" default="$(find vision_darknet_detect)/darknet/data/yolov3.weights"/>
  <arg name="names_file" default="$(find vision_darknet_detect)/darknet/cfg/coco.names"/>

  <arg name="camera_id" default="/"/>
  <arg name="image_src" default="$(optenv CARMA_INTR_NS)/camera_right/camera/image_raw"/>
  </include>
  </group>

<!-- vision_beyond_track -->
  <group>
  <include file="$(find vision_beyond_track)/launch/vision_beyond_track.launch">
  <arg name="camera_info_src" default="$(optenv CARMA_INTR_NS)/camera_right/camera/camera_info"/>
  <arg name="objects_topic_src" default="/detection/image_detector/objects"/>
  <arg name="camera_height" default="1.2"/>
  </include>
  </group>
  
  <!-- lidar_euclidean_cluster_detect -->
  <group>
  <include file="$(find lidar_euclidean_cluster_detect)/launch/lidar_euclidean_cluster_detect.launch">
  <arg name="points_node" default="/localization/ray_ground_filter/points_no_ground" /><!--CHANGE THIS TO READ WHETHER FROM VSCAN OR POINTS_RAW -->
  <arg name="remove_ground" default="true" />
  <arg name="downsample_cloud" default="false" /> <!-- Apply VoxelGrid Filter with the value given by "leaf_size"-->
  <arg name="leaf_size" default="0.1" /><!-- Voxel Grid Filter leaf size-->
  <arg name="cluster_size_min" default="20" /><!-- Minimum number of points to consider a cluster as valid-->
  <arg name="cluster_size_max" default="100000" /><!-- Maximum number of points to allow inside a cluster-->
  <arg name="sync" default="false" />
  <arg name="use_diffnormals" default="false" />
  <arg name="pose_estimation" default="true" />
  <arg name="clip_min_height" default="-1.3" />
  <arg name="clip_max_height" default="0.5" />

  <arg name="keep_lanes" default="false" />
  <arg name="keep_lane_left_distance" default="5" />
  <arg name="keep_lane_right_distance" default="5" />
  <arg name="cluster_merge_threshold" default="1.5" />
  <arg name="clustering_distance" default="0.75" />

  <arg name="use_vector_map" default="false" />
  <arg name="wayarea_gridmap_layer" default="wayarea" />

  <arg name="output_frame" default="velodyne" />

  <arg name="remove_points_upto" default="0.0" />

  <arg name="use_gpu" default="false" />

  <arg name="use_multiple_thres" default="false"/>
  <arg name="clustering_ranges" default="[15,30,45,60]"/><!-- Distances to segment pointcloud -->
  <arg name="clustering_distances"
       default="[0.5,1.1,1.6,2.1,2.6]"/><!-- Euclidean Clustering threshold distance for each segment -->

  </include>
  </group>
 
  <!-- range_vision_fusion -->
  <group>
  <include file="$(find range_vision_fusion)/launch/range_vision_fusion.launch">
  <arg name="detected_objects_range" default="/detection/lidar_detector/objects"/>
  <arg name="detected_objects_vision" default="/detection/image_detector/objects"/>
  <arg name="camera_info_src" default="$(optenv CARMA_INTR_NS)/camera_right/camera/camera_info"/>
  <arg name="min_car_dimensions" default="[3,2,2]"/>
  <arg name="min_person_dimensions" default="[1,2,1]"/>
  <arg name="min_truck_dimensions" default="[4,2,2]"/>
  <arg name="sync_topics" default="false"/>
  <arg name="overlap_threshold" default="0.6"/>
  <arg name="use_vector_map" default="false"/>
  <arg name="namespace" default="/detection/fusion_tools"/>

  </include>
  </group>

  <!-- imm_ukf_pda_track -->
  <group>
  <include file="$(find imm_ukf_pda_track)/launch/imm_ukf_pda_track_lanelet2.launch">
  	 <arg name="namespace" default="/detection/object_tracker"/>
  <arg name="tracker_input_topic" default="/detection/fusion_tools/objects" />
  	<arg name="tracker_output_topic" default="/detection/object_tracker/objects" />

  <arg name="tracking_frame" default="/world" />
  <arg name="gating_threshold" default="9.22" />
  <arg name="gate_probability" default="0.99" />
  <arg name="detection_probability" default="0.9" />
  <arg name="life_time_threshold" default="8" />
  <arg name="static_velocity_threshold" default="0.5" />
  <arg name="static_num_history_threshold" default="3" />
  <arg name="prevent_explosion_threshold" default="1000" />
  <arg name="merge_distance_threshold" default="0.5"/>
  <arg name="use_sukf" default="false" />

  <!-- Vectormap -->
  <arg name="use_map_info" default="false"/>
  <arg name="lane_direction_chi_threshold" default="2.71" />
  <arg name="nearest_lane_distance_threshold" default="1.0" />
  <arg name="map_frame" default="/map" />

  </include>
  </group>

  <!-- naive_motion_predict -->
  <group>
  <include file="$(find naive_motion_predict)/launch/naive_motion_predict.launch">
  <arg name="interval_sec" default="0.1"/>
  <arg name="num_prediction" default="10"/>
  <arg name="sensor_height" default="2.0"/>
  <arg name="filter_out_close_object_threshold" default="1.5"/>
  <arg name="input_topic" default="/detection/objects"/>
  </include>
  </group>

</launch>
