<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2019 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	lane_change_test.launch

  A roslaunch file for helping to test the lane change plugin
  This file can be launched right after guidance has entered the engaged state
  The launch file has four arguments

  1. bag: The path to the ros bag file which will be played. It is expected this file contains the topics
  /saxton_cav/guidance/outgoing_mobility_request and /saxton_cav/guidance/outgoing_mobility_path 
  Additionally the bag file should be from the same route being tested on

  2. start_time: The start time in seconds which the bag file should begin from. 

  3. dist_to_merge: The expected distance to the lane change in m

  4. speed_limit: The speed limit on this route in mph

  An example of calling this file is as follows
  roslaunch carma lane_change_test.launch bag:=/opt/carma/2018-04-24-15-08-20.bag start_time:=22.0 dist_to_merge:=40 speed_limit:=15
-->
<launch>
  <!-- Set Environment Variables -->
  <env name="ROS_IP" value="192.168.88.10"/>

  <!-- Arguments -->
  <arg name="bag" doc="The rosbag to play for simulating a lane change request"/>
  <arg name="start_time" doc="The time in seconds to start the bag from"/>
  <arg name="dist_to_merge" doc="The expected distance to the lane change in m"/>
  <arg name="speed_limit" doc="The speed limit on this route in mph"/>
  <arg name="request_topic" value="/saxton_cav/guidance/outgoing_mobility_request"/>
  <arg name="path_topic" value="/saxton_cav/guidance/outgoing_mobility_path"/>

  <!-- Time Corrector Node -->
  <node pkg="carma" type="time_corrector_node.py" name="time_corrector_node">
    <param name="dist_to_merge" type="double" value="$(arg dist_to_merge)"/>
    <param name="speed_limit" type="double" value="$(arg speed_limit)"/>
  </node>

  <!-- Play ROS bag -->
  <node name="player" pkg="rosbag" type="play" output="screen" args="$(arg bag) -s $(arg start_time) --topics $(arg request_topic) $(arg path_topic)">
    <remap from="$(arg request_topic)" to="/rosbag/incoming_mobility_request"/>
    <remap from="$(arg path_topic)" to="/rosbag/incoming_mobility_path"/>
  </node>
</launch>
