<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2020 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->

<!-- Generic Simulated Driver Node -->
<launch>
    <arg name="debug_driver" default="false"/>
    <arg name="node_name" default="mock_driver"/>
    <arg name="simulated_driver" default="can"/>
    <arg name="data_file" default="invalid_file"/>

    <node pkg="carma" type="mock_drivers" name="$(arg node_name)"
        args="gov.dot.fhwa.saxton.carma.mock_drivers.MockDriverNode">

        <env if="$(arg debug_driver)" name="MOCK_DRIVERS_OPTS" value="$(env JVM_DEBUG_OPTS)"/>

        <param name="simulated_driver" type="string" value="$(arg simulated_driver)"/>
        <param name="data_file_path" type="string" value="$(arg data_file)"/>
    </node>
</launch>