<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2020 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	This file launches the desired mock drivers for CARMA
-->

<launch>

  <!-- Simulated Driver Arguments -->
  <!-- Directory of Simulation Files -->
  <arg name="DATA_DIR" default="$(find carma)/mock_drivers/config/data" doc="Directory of driver simulation data files"/>

  <arg name="mock_driver_launch_file" default="$(find carma)/launch/mock_driver.launch" doc="mock_driver.launch file location"/>
  
  <!-- Data Files TODO -->
  <arg name="can_data_file" value="$(arg DATA_DIR)/can.csv"/>
  <arg name="dsrc_data_file" value="$(arg DATA_DIR)/dsrc.csv"/>
  <arg name="srx_controller_data_file" value="$(arg DATA_DIR)/srx_controller.csv"/>
  <arg name="pinpoint_data_file" value="$(arg DATA_DIR)/pinpoint_stationary.csv"/>
  <arg name="radar_data_file" value="$(arg DATA_DIR)/radar.csv"/>
  <arg name="cellular_data_file" value="$(arg DATA_DIR)/dsrc.csv"/>

  <!-- Debug -->
  <!-- Set to true to enable debugging on the specified node -->
  <arg name="debug_node" default="" doc="Set to the java node base name to enable debugging on that node"/>

  <!-- Simulation Usage -->
  <arg name="mock_drivers" default="controller can comms gnss radar lidar camera roadway_sensor imu" doc="List of driver node base names which will be launched as mock drivers"/>

  <arg name="mock_can"            value="$(eval 'can' in arg('mock_drivers').split())"/>
  <arg name="mock_comms"          value="$(eval 'comms' in arg('mock_drivers').split())"/>
  <arg name="mock_controller"     value="$(eval 'controller' in arg('mock_drivers').split())"/>
  <arg name="mock_gnss"           value="$(eval 'gnss' in arg('mock_drivers').split())"/>
  <arg name="mock_radar"          value="$(eval 'radar' in arg('mock_drivers').split())"/>
  <arg name="mock_imu"            value="$(eval 'imu' in arg('mock_drivers').split())"/>
  <arg name="mock_lidar"          value="$(eval 'lidar' in arg('mock_drivers').split())"/>
  <arg name="mock_camera"         value="$(eval 'camera' in arg('mock_drivers').split())"/>
  <arg name="mock_roadway_sensor" value="$(eval 'roadway_sensor' in arg('mock_drivers').split())"/>

  <!-- Remappings for external packages -->
  <remap from="system_alert" to="/system_alert"/>

  <!-- Simulated Comms Driver Node -->
  <include if="$(arg mock_comms)" file="$(arg mock_driver_launch_file)">
    <arg name="node_name"        value="mock_comms"/>
    <arg name="simulated_driver" value="comms"/>
    <arg name="data_file"        value="$(arg dsrc_data_file)"/><!-- TODO -->
    <arg name="debug_driver"     value="$(eval arg('debug_node') == 'mock_comms')"/>
  </include>

  <!-- Simulated GNSS Driver Node -->
  <include if="$(arg mock_gnss)" file="$(arg mock_driver_launch_file)">
    <arg name="node_name"        value="mock_gnss"/>
    <arg name="simulated_driver" value="gnss"/>
    <arg name="data_file"        value="$(arg pinpoint_data_file)"/><!-- TODO -->
    <arg name="debug_driver"     value="$(eval arg('debug_node') == 'mock_gnss')"/>
  </include>

  <!-- Simulated CAN Driver Node -->
  <include if="$(arg mock_can)" file="$(arg mock_driver_launch_file)">
    <arg name="node_name"        value="mock_can"/>
    <arg name="simulated_driver" value="can"/>
    <arg name="data_file"        value="$(arg can_data_file)"/><!-- TODO -->
    <arg name="debug_driver"     value="$(eval arg('debug_node') == 'mock_can')"/>
  </include>

  <!-- Simulated Controller Driver Node -->
  <include if="$(arg mock_controller)" file="$(arg mock_driver_launch_file)">
    <arg name="node_name"        value="mock_controller"/>
    <arg name="simulated_driver" value="controller"/>
    <arg name="data_file"        value="$(arg srx_controller_data_file)"/><!-- TODO -->
    <arg name="debug_driver"     value="$(eval arg('debug_node') == 'mock_controller')"/>
  </include>

  <!-- Simulated Radar Driver Node -->
  <include if="$(arg mock_radar)" file="$(arg mock_driver_launch_file)">
    <arg name="node_name"        value="mock_radar"/>
    <arg name="simulated_driver" value="radar"/>
    <arg name="data_file"        value="$(arg radar_data_file)"/><!-- TODO -->
    <arg name="debug_driver"     value="$(eval arg('debug_node') == 'mock_radar')"/>
  </include>

  <!-- Simulated IMU Driver Node -->
  <include if="$(arg mock_imu)" file="$(arg mock_driver_launch_file)">
    <arg name="node_name"        value="mock_imu"/>
    <arg name="simulated_driver" value="imu"/>
    <arg name="data_file"        value="$(arg radar_data_file)"/> <!-- TODO -->
    <arg name="debug_driver"     value="$(eval arg('debug_node') == 'mock_imu')"/>
  </include>

  <!-- Simulated Lidar Driver Node -->
  <include if="$(arg mock_lidar)" file="$(arg mock_driver_launch_file)">
    <arg name="node_name"        value="mock_lidar"/>
    <arg name="simulated_driver" value="lidar"/>
    <arg name="data_file"        value="$(arg radar_data_file)"/><!-- TODO -->
    <arg name="debug_driver"     value="$(eval arg('debug_node') == 'mock_lidar')"/>
  </include>

  <!-- Simulated Camera Driver Node -->
  <include if="$(arg mock_camera)" file="$(arg mock_driver_launch_file)">
    <arg name="node_name"        value="mock_camera"/>
    <arg name="simulated_driver" value="camera"/>
    <arg name="data_file"   value="$(arg radar_data_file)"/><!-- TODO -->
    <arg name="debug_driver"     value="$(eval arg('debug_node') == 'mock_camera')"/>
  </include>

  <!-- Simulated Roadway Sensor Driver Node -->
  <include if="$(arg mock_roadway_sensor)" file="$(arg mock_driver_launch_file)">
    <arg name="node_name"        value="mock_roadway_sensor"/>
    <arg name="simulated_driver" value="roadway_sensor"/>
    <arg name="data_file"   value="$(arg radar_data_file)"/><!-- TODO -->
    <arg name="debug_driver"     value="$(eval arg('debug_node') == 'mock_roadway_sensor')"/>
  </include>
	

</launch>
