<?xml version="1.0"?>
<!--
  Copyright (C) 2017 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	saxton_cav.launch

  A the ros launch file for the STOL CAV Prototype ROS Network.
  Launches all the needed ros nodes and sets up the parameter server.
  Also sets up all static transforms used by tf2 within the system.

  Use:
  First delete the generated build/scripts folder in all java packages.
  roslaunch carma saxton_cav.launch
  After using source devel/setup.bash from workspace root.

  If using simulated drivers they are activated using ros arguments as shown below.
  roslaunch carma saxton_cav.launch mock_can:=true can_data_file:=/path/to/file.csv
-->
<launch>

  <!-- Setup Ros Bag -->
  <arg name="bag" doc="The bag file to be used to run this test"/>
  <arg name="all_topics" default="true" doc="Set to true to play back all topics"/>
  <arg name="topics" doc="The bag file to be used to run this test" default="/saxton_cav/route/route /saxton_cav/route/route_state /saxton_cav/sensor_fusion/filtered/heading /saxton_cav/sensor_fusion/filtered/nav_sat_fix /saxton_cav/sensor_fusion/filtered/odometry /saxton_cav/sensor_fusion/filtered/tracked_objects /saxton_cav/sensor_fusion/filtered/velocity"/>
  
  <arg if="$(arg all_topics)" name="actual_topics" value=""/>
  <arg unless="$(arg all_topics)" name="actual_topics" value=" --topics $(arg topics) "/>

  <param name="use_sim_time" value="true"/>

  <!-- RViz Node -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find carma)/launch/rviz/playback.rviz"/>  

  <!-- Topic Visualization Node -->
  <node pkg="carma" type="topic_viz_node.py" name="topic_viz_node"/>

  <!-- Play Ros bag -->
  <node name="player" pkg="rosbag" type="play" output="log" args="$(arg bag) --clock $(arg actual_topics)"/>
</launch>
