<?xml version="1.0"?>
<!--
  Copyright (C) 2017 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	playback.launch

  A launch file for playing bag a rosbag file with visualization
-->
<launch>


  <!-- Setup Ros Bag -->
  <arg name="bag" doc="The bag file to be used to run this test"/>
  <arg name="all_topics" default="false" doc="Set to true to play back all topics"/>
  <arg name="topics" doc="The bag file to be used to run this test" 
    default="/tf /tf_static /saxton_cav/drivers/pin_point_application/position/odometry /saxton_cav/drivers/pin_point_application/position/velocity /saxton_cav/drivers/pin_point_application/position/nav_sat_fix /saxton_cav/drivers/pin_point_application/position/heading /saxton_cav/drivers/srx_objects/f_lrr/sensor/objects"/>
  
  <arg if="$(arg all_topics)" name="actual_topics" value=""/>
  <arg unless="$(arg all_topics)" name="actual_topics" value=" --topics $(arg topics) "/>

  <param name="use_sim_time" value="true"/>

  <arg name="CARMA_DIR" default="$(find carma)" doc="The path of the package directory"/>
  <arg name="PARAM_DIR" default="$(arg CARMA_DIR)/launch/params" doc="Directory of yaml parameter files"/>
  <arg name="TOP_NS"    default="saxton_cav" doc="CAV Prototype system namespace"/>
  <arg name="DRIVER_NS" default="drivers" doc="Namespace of nodes in drivers package"/>

  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(arg PARAM_DIR)/roscpp_log.config"/>

  <!-- Sensor Fusion Node -->
  <node pkg="sensor_fusion" type="sensor_fusion_node" name="sensor_fusion">

    <rosparam command="load" file="$(arg PARAM_DIR)/SensorFusion.yaml"/>

    <param name="use_interface_mgr" value="false"/>

    <rosparam param="odometry_topics" subst_value="True">["/$(arg TOP_NS)/$(arg DRIVER_NS)/pin_point_application/position/odometry"]</rosparam>
    <rosparam param="velocity_topics" subst_value="True">["/$(arg TOP_NS)/$(arg DRIVER_NS)/pin_point_application/position/velocity"]</rosparam>
    <rosparam param="navsatfix_topics" subst_value="True">["/$(arg TOP_NS)/$(arg DRIVER_NS)/pin_point_application/position/nav_sat_fix"]</rosparam>
    <rosparam param="heading_topics" subst_value="True">["/$(arg TOP_NS)/$(arg DRIVER_NS)/pin_point_application/position/heading"]</rosparam>
    <rosparam param="objects_topics" subst_value="True">["/$(arg TOP_NS)/$(arg DRIVER_NS)/srx_objects/f_lrr/sensor/objects"]</rosparam>

  </node>
<!--
   RViz Node 
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find carma)/launch/rviz/playback.rviz"/>

   Topic Visualization Node 
  <node pkg="carma" type="topic_viz_node.py" name="topic_viz_node"/>
-->
  <!-- Play Ros bag -->
  <node name="player" pkg="rosbag" type="play" output="log" args="$(arg bag) --clock $(arg actual_topics)"/>
</launch>
