<?xml version="1.0"?>
<!--
  Copyright (C) 2018-2020 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
	Launch file for launching the nodes in the CARMA transform stack
-->
<launch>
  <arg name="URDF_FILE" default="$(find carma)/launch/urdf/carma.urdf" doc="Path to the vehicle's URDF file"/>

  <!-- Transform Server Package -->
  <!-- Transform Server Node -->
  <node pkg="carma_transform_server" type="carma_transform_server_node" name="transform_server"/>

  <!-- TF2 Setup Initial Static Transforms -->
  <!-- Vehicle Transforms -->
  <param name="robot_description" textfile="$(arg URDF_FILE)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>
