#!/usr/bin/env python
PACKAGE = "stanley_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("kp_yaw_error",    double_t,     0, " ", 0.5,  -10.0, 10.0)
gen.add("kd_yaw_error", double_t, 0,        " ", 0.3, -10.0,   10.0)
gen.add("kp_lateral_error",    double_t, 0, " ", 0.5, -10.0, 10.0)
gen.add("kd_steer",   double_t,   0,        " ", 0.0, -10.0, 10.0)
gen.add("k_soft",   double_t,   0,          " ", 10.0, -100.0, 100.0)
gen.add("preview_window",   int_t,   0,     " ", 0, 0, 50)
gen.add("path_smoothing_times",   int_t, 0, " ", 5, 0, 50)


exit(gen.generate(PACKAGE, "stanley_controller", "StanleyDynamicParams"))