version: 2
jobs:
  build:
    docker:
      - image: debian:stretch
    steps:
      - checkout
      - run:
          name: Greeting
          command: echo Hello, world.
      - run:
          name: Print the Current Time
          command: date
      - run:
          name: Install curl
          command: apt-get update && apt-get install -y curl
      - run:
          name:  SourceClear Scan
          command:  cd CARMAPlatform && curl -sSL https://download.sourceclear.com/ci.sh | bash
