# Time between predicted states in seconds
prediction_time_step: 0.1

# Time between received mobility path predicted states in seconds
mobility_path_time_step: 0.1

# Period of prediction in seconds
prediction_period: 2.0

# CV Model X-Axis Acceleration Noise
cv_x_accel_noise: 9.0

# CV Model Y-Axis Acceleration Noise
cv_y_accel_noise: 9.0

# Maximum expected process noise. Used for mapping noise to confidence in [0,1] range
prediction_process_noise_max: 1000.0

# Percentage of initial confidence to propagate to next time step
prediction_confidence_drop_rate: 0.95

# Integer Enum: Localization mode for the platform
# 0 - MOBILITY_PATH_ONLY  MobilityPath used as only source of external object data
# 1 - SENSORS_ONLY:       Sensors used as only source of external object data (mobility paths dropped)
# 2 - PATH_AND_SENSORS:   Both MobilityPath and sensors used without fusion but synchronized so the output message contains both
external_object_prediction_mode: 0