<?xml version="1.0"?>
<launch>
    <remap from="final_waypoints" to="carma_final_waypoints"/>
    <!-- Pure Pursuit Node -->
    <group>
        <remap from="/guidance/trajectory_plan" to="/guidance/mpc_follower/trajectory"/>
        <remap from="vehicle_info/wheel_base" to="/vehicle_wheel_base"/>
    </group>
    <!-- Pure Pursuit Jerk Wrapper Node -->
    <node pkg="pure_pursuit_jerk_wrapper" type="pure_pursuit_jerk_wrapper_node" name="pure_pursuit_jerk_wrapper_node">
        <rosparam command="load" file="$(find pure_pursuit_jerk_wrapper)/config/default.yaml" />
    </node>
</launch>
