<launch>
	<arg name="srx_controller_can_device" default="can0" />
    <node name="srx_controller" pkg="srx_controller" type="srx_controller_node" output="screen">
        <remap from="received_messages" to="$(arg srx_controller_can_device)/received_messages" />
        <remap from="sent_messages" to="$(arg srx_controller_can_device)/sent_messages" />
    </node>
    <node name="dbw_socketcan_bridge" pkg="socketcan_bridge" type="socketcan_bridge_node" output="screen">
        <param name="can_device" value="$(arg srx_controller_can_device)" />
        <remap from="received_messages" to="$(arg srx_controller_can_device)/received_messages" />
        <remap from="sent_messages" to="$(arg srx_controller_can_device)/sent_messages" />
        <rosparam param="can_ids">['1a0','111','113','114','115','1B0']</rosparam>
    </node>
</launch>
