# Set the default ros output to warning and higher
log4j.logger.ros=WARN
# Override roscpp packages
log4j.logger.ros.trajectory_executor=INFO
log4j.logger.ros.gnss_to_map_convertor=INFO
log4j.logger.ros.j2735_convertor=INFO
log4j.logger.ros.ndt_pose_tf_wrapper=INFO
log4j.logger.ros.route_generator=INFO
log4j.logger.ros.ui_integration=INFO
