<?xml version="1.0"?>
<launch>
    <arg name="vehicle_calibration_dir" default="/opt/carma/vehicle/calibration"/>
    <!-- Pure Pursuit Node -->
    <group>
        <node pkg="pure_pursuit" type="pure_pursuit" name="pure_pursuit" output="log">
            <remap from="final_waypoints" to="carma_final_waypoints"/>
            <param name="is_linear_interpolation" value="True"/>
            <param name="publishes_for_steering_robot" value="True"/>
            <rosparam command="load" file="$(arg vehicle_calibration_dir)/pure_pursuit/calibration.yaml"/>
        </node>
    </group>
    <!-- Pure Pursuit Wrapper Node -->
    <group>
       <remap from="final_waypoints" to="carma_final_waypoints"/>
        <node pkg="pure_pursuit_wrapper" type="pure_pursuit_wrapper_node" name="pure_pursuit_wrapper_node">
            <rosparam command="load" file="$(find pure_pursuit_wrapper)/config/default.yaml" />
        </node>
    </group>
</launch>
