<launch>
    <arg name="truck_can_device" default="can2" />
    <node name="truck_controller" pkg="truck_dbw_controller" type="truck_dbw_controller_node" output="screen">
        <remap from="received_messages" to="$(arg truck_can_device)/received_messages" />
        <param name="socketcan_selection" value="0" />
        <param name="socketcan_device" value="$(arg truck_can_device)" />
        <param name="k_p" value="7.5" />
        <param name="k_i" value="3" />
        <param name="k_d" value="0" />
    </node>
</launch>
