---
Checks: >-
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*
FormatStyle: "file"
HeaderFilterRegex: ""
WarningsAsErrors: "*"
