/**:
  ros__parameters:
    # Long: Timeout for each service to be detected as available in milliseconds
    # Units: milliseconds
    service_timeout_ms : 200

    # Long: Timeout for each service call in milliseconds
    # Units: milliseconds
    call_timeout_ms : 1000

    # String: The namespace for nodes in this subsystem
    subsystem_namespace: /hardware_interface

    # Required subsystem controller nodes for the overall system to be functional
    # Since CARMA assumes connected vehicles in most cases the current minimum node set is from motion prediction up
    required_subsystem_nodes:
      - /hardware_interface/ssc_interface_wrapper
      - /hardware_interface/velodyne_lidar_driver_wrapper
      - /hardware_interface/novatel_gps_nodelet_wrapper
      - /hardware_interface/camera

    # Boolean: If this flag is true then all nodes under subsystem_namespace are treated as required in addition to any nodes in required_subsystem_nodes
    full_subsystem_required: true