/**:
  ros__parameters:
    # Long: Timeout for each service to be detected as available in milliseconds
    # Units: milliseconds
    service_timeout_ms : 2000

    # Long: Timeout for each service call in milliseconds
    # Units: milliseconds
    call_timeout_ms : 10000

    # String: The namespace for nodes in this subsystem. All nodes under this namespace will have their lifecycle's managed by this controller
    subsystem_namespace: /guidance

    # Required subsystem controller nodes for the overall system to be functional and will have their lifecycle's managed
    required_subsystem_nodes:
      - /guidance/arbitrator
      - /guidance/guidance_node
      - /guidance/plan_delegator
      - /guidance/trajectory_executor
      - /guidance/twist_filter
      - /guidance/twist_gate
      - /guidance/plugins/route_following_plugin # The minimal set of guidance plugins for system operation are route_following/inlanecruising/pure_pursuit_wrapper
      - /guidance/plugins/inlanecruising_plugin
      - /guidance/pure_pursuit_wrapper
      - /guidance/yield_plugin

    # List of nodes which will not be directly managed by this subsystem controller 
    # but which are required to be operational for the subsystem to function
    unmanaged_required_nodes: [''] # TODO add the controller driver once it is integrated with ROS2

    # Boolean: If this flag is true then all nodes under subsystem_namespace are treated as required in addition to any nodes in required_subsystem_nodes
    full_subsystem_required: false

    # List of guidance plugins (node name) to consider required and who's failure shall result in automation abort. 
    # Required plugins will be automatically activated at startup
    # Required plugins cannot be deactivated by the user
    required_plugins:
      - /guidance/plugins/route_following_plugin
      - /guidance/plugins/pure_pursuit_wrapper
      - /guidance/plugins/inlanecruising_plugin
      - /guidance/plugins/cooperative_lanechange

    # List of guidance plugins which are not required but the user wishes to have automatically activated
    # so that the user doesn't need to manually activate them via the UI on each launch (though they still can)
    # this list should have zero intersection with the required_plugins
    auto_activated_plugins:
      - /guidance/plugins/lci_strategic_plugin
      - /guidance/plugins/intersection_transit_maneuvering
      - /guidance/plugins/light_controlled_intersection_tactical_plugin
      - /guidance/plugins/stop_and_wait_plugin
      - /guidance/plugins/sci_strategic_plugin
      - /guidance/plugins/stop_controlled_intersection_tactical_plugin
      - /guidance/plugins/platoon_control_ihp
      - /guidance/plugins/platoon_strategic_ihp
      - /guidance/plugins/platooning_tactical_plugin_node
      - /guidance/plugins/yield_plugin
    
    # List of guidance plugins that are ported to ROS2. If not in this list, it is assumed to be ROS1, and not managed.
    ros2_initial_plugins:
      - /guidance/plugins/inlanecruising_plugin
      - /guidance/plugins/yield_plugin
      - /guidance/plugins/light_controlled_intersection_tactical_plugin
      - /guidance/plugins/platooning_tactical_plugin_node
      - /guidance/plugins/sci_strategic_plugin
      - /guidance/plugins/cooperative_lanechange
      - /guidance/plugins/platooning_tactical_plugin_node
      - /guidance/plugins/yield_plugin
      - /guidance/plugins/pure_pursuit_wrapper