/**:
  ros__parameters:
    # Long: Timeout for each service to be detected as available in milliseconds
    # Units: milliseconds
    service_timeout_ms : 200

    # Long: Timeout for each service call in milliseconds
    # Units: milliseconds
    call_timeout_ms : 1000

    # String: The namespace for nodes in this subsystem
    subsystem_namespace: /localization

    # Required subsystem controller nodes for the overall system to be functional
    # Once initialized the localization subsystem requires a GNSS, localization manage, and ekf_localizer in order to continue functioning
    required_subsystem_nodes:
      - /localization/ekf_localizer
      - /localization/gnss_to_map_convertor
      - /localization/localization_manager

    # Boolean: If this flag is true then all nodes under subsystem_namespace are treated as required in addition to any nodes in required_subsystem_nodes
    full_subsystem_required: true