<!--
  Copyright (C) 2018-2021 LEIDOS.
  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->

<launch>
  <node name="carma_wm_broadcaster" pkg="carma_wm_ctrl" type="carma_wm_ctrl_node">
    <remap from="georeference" to="$(optenv CARMA_LOCZ_NS)/map_param_loader/georeference"/>
    <remap from="$(optenv CARMA_ENV_NS)/geofence" to="$(optenv CARMA_MSG_NS)/incoming_geofence_control"/>
    <remap from="$(optenv CARMA_ENV_NS)/incoming_map" to="$(optenv CARMA_MSG_NS)/incoming_map"/>
    <remap from="current_pose" to="$(optenv CARMA_LOCZ_NS)/current_pose"/>
    <remap from="$(optenv CARMA_ENV_NS)/outgoing_geofence_ack" to="$(optenv CARMA_MSG_NS)/outgoing_mobility_operation"/>
    <rosparam command="load" file="$(find carma_wm_ctrl)/config/parameters.yaml"/>
  </node>
</launch>
