<?xml version="1.0"?>
<launch>
    <!-- New Guidance Commands Node -->
        <node pkg="guidance_command_repeater" type="guidance_command_repeater" name="guidance_command_repeater" output="screen">
            <rosparam command="load" file="$(find guidance_command_repeater)/config/default.yaml" />
            <remap from="/cmd_speed" to="/control/cmd_speed"/>
            <remap from="/cmd_longitudinal_effort" to="/control/cmd_longitudinal_effort"/>
            <remap from="/cmd_lateral" to="/control/cmd_lateral"/>
        </node>
</launch>