<?xml version="1.0"?>
<!--
  Copyright (C) 2023 LEIDOS.
  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!--
  This file is used to launch the tactical intersection transit maneuvering plugin.
-->

<launch>
    <node name="ns3_adapter" pkg="ns3_adapter" type="ns3_adapter">
    <rosparam command="load" file="$(find ns3_adapter)/config/parameters.yaml"/>
    </node>
</launch>
