<?xml version="1.0"?>
<!--
  Copyright (C) 2020-2021 LEIDOS.
  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->

<launch>

  <arg name="driver" doc="The name of the driver to launch. This matches the 'type' of the simulated driver as degined in DriverStatus.msg"/>
  <arg name="bag_parser" default="false" doc="True to launch the rosbag parser node which sends data to the mock drivers. Only one bag parser should be launched"/>
  <arg name="bag_path" doc="Path to the rosbag to use as a data source"/>

  <!-- Launch Bag Parser -->
  <group if="$(arg bag_parser)">
    <include file="$(find rosbag_mock_drivers)/launch/bag_parser.launch">
      <arg name="file_path" value="$(arg bag_path)"/>
    </include>
  </group>

  <!-- Launch Mock Driver -->
  <node pkg="rosbag_mock_drivers" type="mock_driver" name="$(arg driver)" args="$(arg driver)"/>
</launch>