* {
    box-sizing: border-box
}

body {
    font-family: "Segoe UI",Arial,sans-serif;
}

/*** Left Navigation Style ***/
/* Style the tab */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 12%;
    height: 650px;
}

    /* Style the buttons inside the tab */
    div.tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 20px 10px;
        width: 100%;
        border-bottom: 1px solid #ccc;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
        font-family: "Segoe UI";
        overflow: auto;
    }

        /* Change background color of buttons on hover */
        div.tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current "tab button" class */
        div.tab button.active {
            background-color: #00ace6;
        }

/* Style the tab header */
.tabheader {
    float: left;
    padding: 0px 12px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 88%;
    height: 90px;
}


/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 88%;
    border-left: 1px solid #ccc;
    height: 560px;
}

/*** Log Text Box content Style ****/
.logStatus {
    height: 400px;
    width: 98%;
    overflow: auto;
    background-color: #336699;
    color: white;
    scrollbar-base-color: gold;
    font-family: sans-serif;
    padding: 10px;
}


/*** Checkbox and Radiobutton Style ****/

*, *::before, *::after {
    box-sizing: border-box;
}


.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    position: absolute;
    left: -9999px;
}

label {
    display: block;
    position: relative;
    margin: 20px;
    padding: 15px 15px 15px 15px;
    border-radius: 100px;
    color: #fff;
    background-color: gray;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

    label::before { /*button format */
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 10px;
        width: 32px;
        border: none;
        border-radius: 100px;
        transition: background-color .2s;
    }

    label:first-of-type {
        transform: translateX(0px);
    }

    label:last-of-type {
        transform: translateX(0px);
    }

    label:hover, input:focus + label { /* Hover format */
        box-shadow: 10px 10px 5px rgba(0, 0, 0, .6);
    }

input:checked + label { /* Checked format */
    background-color: cornflowerblue;
    box-shadow: 10px 10px 5px #99ccff;
}

input:disabled + label { /* Disabled format */
    background-color: gray;
}


/*** Message Box ***/
div.message_box {
    display: block;
    position: relative;
    align: center;
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    padding: 30px 30px 15px 30px;
    height: 150px;
    color: #fff;
    background-color: #ffcc00;
    font-size: 20px;
}

/*** Button ***/
.button_disabled {
    background-color: gray; /* #4CAF50; Green; gray; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    height: 75px;
    border-radius: 100px;
    transition: background-color .2s;
    border-radius: 100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
    opacity: 0.6;
    cursor: not-allowed;
}

.button_enabled {
    background-color: cornflowerblue; /* #4CAF50; Green; gray; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    height: 75px;
    border-radius: 100px;
    transition: background-color .2s;
    border-radius: 100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
}

.button_engaged {
    background-color: #4CAF50; /* #4CAF50; Green; gray; */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    height: 75px;
    border-radius: 100px;
    transition: background-color .2s;
    border-radius: 100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
}

/*** MODAL ***/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s font-size: 17px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #ffcc00;
    color: black;
    align: center;
    text-align: middle;
}

.modal-body {
    padding: 2px 20px;
    width: 100%;
}

.modal-footer {
    padding: 10px 16px 10px 10px;
    background-color: #ffcc00;
    color: black;
}

/* System Status Table */
.table-style1 {
    width: 100%;
}

.col-style1 {
    vertical-align: top;
    width: 30%;
    max-width: 200px;
    overflow-wrap: normal;
}

.section1 {
    color: #FFFFFF;
    background-color: #999999;
    vertical-align: top;
}

.col-style2a {
    width: 15%;
    font-weight: bold;
}

.col-style2b {
    width: 15%;
}

/* Map *
 * Always set the map height explicitly to define the size of the div
 * element that contains the map.
 */
#map {
    height: 550px;
}