<!--
  Copyright (C) 2020-2021 LEIDOS.

  Licensed under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<!-- Utility Launch file for generating PCD map files using the ndt_mapping node-->
<launch>

  <arg name="vehicle_calibration_dir" default="/opt/carma/vehicle/calibration"/>

  <!-- Static Transforms -->
  <include file="$(find carma)/launch/transforms.launch">
    <arg name="URDF_FILE" value="$(arg vehicle_calibration_dir)/urdf/carma.urdf"/>
  </include>

  <!-- NDT Mapping Node -->
  <group>
    <rosparam command="load" file="$(arg vehicle_calibration_dir)/lidar_localizer/ndt_matching/params.yaml"/>

    <remap from="points_raw" to="/hardware_interface/lidar/points_raw"/>
    <remap from="/vehicle/odom" to="/localization/vehicle/odom"/>

    <include file="$(find lidar_localizer)/launch/ndt_mapping.launch">
      <arg name="use_odom" value="true" />
    </include>
  </group>

</launch>